---
import MainBody from "../../components/MainBody.astro";
import MainHead from "../../components/MainHead.astro";
import SectionHeading from "../../components/SectionHeading.astro";
import { sortDate } from "../../scripts/utils.js";
const posts = await Astro.glob("./*.md");
const work = posts
  .filter((post) => post.frontmatter.type !== "sideproject")
  .sort(sortDate);

const sideProjects = posts
  .filter((post) => post.frontmatter.type === "sideproject")
  .sort(sortDate);
---

<html lang="en">
  <head>
    <MainHead
      title="Work"
      description="Thing's I've made or learned at the various companies I have worked for"
    />
  </head>
  <MainBody>
    <section class="intro-animation max-w-[960px] mx-auto py-12">
      <h1 class="text-4xl mb-4 font-bold">Work</h1>
      <h2 class="font-serif text-2xl">
        Thing's I've made or learned at the companies I have worked for.
      </h2>
    </section>

    <section class="fade-in max-w-[960px] mx-auto">
      <SectionHeading> Recent Work </SectionHeading>
      <ul class="grid md:grid-cols-2 gap-8">
        {
          work.map((post) => {
            return (
              <li>
                <a
                  href={post.url}
                  class="border border-shadow bg-[var(--vellum)] p-8 aspect-video relative flex flex-col items-center justify-center"
                >
                  <img
                    width={60}
                    src={post.frontmatter.logo || ""}
                    alt={post.frontmatter.title}
                    class="h-auto"
                  />
                  <div class="text-[var(--stone)] absolute bottom-[16px] left-[16px] flex flex-col">
                    <span class="font-mono text-[10px] uppercase">{post.frontmatter.year}</span>
                    <span>{post.frontmatter.title}</span>
                  </div>
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>

    <section class="fade-in max-w-[960px] mx-auto mt-12">
      <SectionHeading> Side Projects </SectionHeading>
      <ul class="grid md:grid-cols-2 gap-8">
        {
          sideProjects.map((post) => {
            return (
              <li>
                <a
                  href={post.url}
                  class="border border-shadow bg-[var(--vellum)] p-8 aspect-video relative flex flex-col items-center justify-center"
                >
                  <img
                    width={60}
                    src={post.frontmatter.logo || ""}
                    alt={post.frontmatter.title}
                  />
                  <div class="text-[var(--stone)] absolute bottom-[16px] left-[16px] flex flex-col">
                    <span class="font-mono text-xs">{post.frontmatter.year}</span>
                    <span>{post.frontmatter.title}</span>
                  </div>
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </MainBody>
</html>
